[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/WIZnet/ioLibrary_Driver"]
	path = lib/WIZnet/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
[submodule "lib/nanoMODBUS"]
	path = lib/nanoMODBUS
	url = git@github.com:debevv/nanoMODBUS.git
